workflows/flujo_formulario_web.json
{
  "name": "APA Flujo Formulario Web",
  "nodes": [
    {
      "id": "1",
      "name": "🌐 Webhook Formulario",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-web"
      }
    },
    {
      "id": "2",
      "name": "📊 Guardar en Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [400, 300],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads Web",
          "mode": "name"
        }
      }
    },
    {
      "id": "3",
      "name": "🔀 Derivador B2B/B2C",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [640, 300],
      "parameters": {
        "conditions": {
          "string": [
            {
              "operation": "equal",
              "value1": "={{ $('🌐 Webhook Formulario').item.json.body.tipo_cliente }}",
              "value2": "Empresa"
            }
          ]
        }
      }
    },
    {
      "id": "4",
      "name": "📧 Mail Interno B2B",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [860, 200],
      "parameters": {
        "sendTo": "lf.logistica.18@gmail.com",
        "subject": "={{ '🚨 NUEVO LEAD B2B - ' + $('🌐 Webhook Formulario').item.json.body.nombre }}",
        "message": "={{ '¡Atención! Nuevo lead corporativo.<br><br><b>Nombre:</b> ' + $('🌐 Webhook Formulario').item.json.body.nombre + '<br><b>Teléfono:</b> ' + $('🌐 Webhook Formulario').item.json.body.telefono + '<br><b>Email:</b> ' + $('🌐 Webhook Formulario').item.json.body.email + '<br><b>Empleados:</b> ' + $('🌐 Webhook Formulario').item.json.body.cantidad_empleados + '<br><br><b>Mensaje:</b> ' + $('🌐 Webhook Formulario').item.json.body.mensaje }}",
        "appendAttribution": false
      }
    },
    {
      "id": "5",
      "name": "📧 Mail Interno B2C",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [860, 400],
      "parameters": {
        "sendTo": "lf.logistica.18@gmail.com",
        "subject": "={{ '📩 Nuevo lead B2C - ' + $('🌐 Webhook Formulario').item.json.body.nombre }}",
        "message": "={{ 'Nuevo lead particular.<br><br><b>Nombre:</b> ' + $('🌐 Webhook Formulario').item.json.body.nombre + '<br><b>Teléfono:</b> ' + $('🌐 Webhook Formulario').item.json.body.telefono + '<br><b>Email:</b> ' + $('🌐 Webhook Formulario').item.json.body.email + '<br><b>Viandas aprox:</b> ' + $('🌐 Webhook Formulario').item.json.body.cantidad_viandas + '<br><br><b>Mensaje:</b> ' + $('🌐 Webhook Formulario').item.json.body.mensaje }}",
        "appendAttribution": false
      }
    },
    {
      "id": "6",
      "name": "📩 Email al Cliente",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [640, 500],
      "parameters": {
        "sendTo": "={{ $('🌐 Webhook Formulario').item.json.body.email }}",
        "subject": "¡Recibimos tu consulta! - Gastro Viandas",
        "message": "={{ 'Hola <b>' + $('🌐 Webhook Formulario').item.json.body.nombre + '</b>, ¡gracias por escribirnos!<br><br>Hemos recibido tu solicitud correctamente. Un asesor comercial revisará tu pedido y se pondrá en contacto contigo muy pronto al número que nos dejaste (' + $('🌐 Webhook Formulario').item.json.body.telefono + ').<br><br>¡Saludos!<br>Equipo de APA Soluciones Gastronómicas' }}",
        "appendAttribution": false
      }
    },
    {
      "id": "7",
      "name": "📌 Recepción Automática",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [150, 100],
      "parameters": {
        "color": 3,
        "content": "## 🌐 Captación Web y Ruteo\nEste flujo recibe el webhook del formulario, lo guarda de backup en Google Sheets, clasifica entre tipo de cliente (Particular/Empresa), y finalmente emite alertas tanto internas (ventas) como un email automático directo hacia el cliente.",
        "height": 550,
        "width": 1000
      }
    },
    {
      "id": "error-note-form",
      "name": "📌 Manejo de Errores",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [150, 680],
      "parameters": {
        "color": 2,
        "content": "## 🚨 Captura de Errores — Formulario Web\nCuando un nodo falla en este flujo:\n1️⃣ Se captura el error con el Error Trigger\n2️⃣ Se formatean los datos del error\n3️⃣ Se envía alerta por **Gmail**\n4️⃣ Se registra en **Google Sheets** para auditoría",
        "height": 320,
        "width": 900
      }
    },
    {
      "id": "error-trigger-form",
      "name": "🚨 Catch Errores",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [200, 800],
      "parameters": {}
    },
    {
      "id": "format-error-form",
      "name": "⚙️ Formatear Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 800],
      "parameters": {
        "jsCode": "const errorData = $input.first().json;\n\nconst execution = errorData.execution || {};\nconst error = execution.error || {};\nconst lastNode = execution.lastNodeExecuted || 'Desconocido';\nconst workflowName = execution.workflowData?.name || 'APA Flujo Formulario Web';\nconst workflowId = execution.workflowData?.id || 'N/A';\nconst executionId = execution.id || 'N/A';\nconst errorMessage = error.message || 'Sin mensaje de error';\nconst errorDescription = error.description || '';\nconst errorStack = error.stack || '';\nconst timestamp = new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' });\n\nreturn [{\n  json: {\n    workflow_name: workflowName,\n    workflow_id: workflowId,\n    execution_id: executionId,\n    nodo_fallido: lastNode,\n    error_mensaje: errorMessage,\n    error_descripcion: errorDescription,\n    error_stack: errorStack.substring(0, 500),\n    timestamp: timestamp,\n    severidad: 'ERROR'\n  }\n}];"
      }
    },
    {
      "id": "error-gmail-form",
      "name": "🚨 Alerta Error Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [700, 720],
      "parameters": {
        "sendTo": "lf.logistica.18@gmail.com",
        "subject": "=🚨 ERROR en {{ $json.workflow_name }} — Nodo: {{ $json.nodo_fallido }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 620px; margin: 0 auto;\">\n  <div style=\"background: #d32f2f; padding: 20px; border-radius: 8px 8px 0 0;\">\n    <h2 style=\"color: white; margin: 0;\">🚨 ERROR EN FLUJO DE AUTOMATIZACIÓN</h2>\n  </div>\n  <div style=\"background: #fff; padding: 24px; border: 1px solid #e0e0e0;\">\n    <table style=\"width: 100%; border-collapse: collapse;\">\n      <tr style=\"background: #ffebee;\">\n        <td style=\"padding: 10px; font-weight: bold; width: 35%; border-bottom: 1px solid #eee;\">📋 Flujo</td>\n        <td style=\"padding: 10px; border-bottom: 1px solid #eee;\">{{ $json.workflow_name }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px; font-weight: bold; border-bottom: 1px solid #eee;\">🆔 ID Ejecución</td>\n        <td style=\"padding: 10px; border-bottom: 1px solid #eee;\">{{ $json.execution_id }}</td>\n      </tr>\n      <tr style=\"background: #ffebee;\">\n        <td style=\"padding: 10px; font-weight: bold; border-bottom: 1px solid #eee;\">❌ Nodo Fallido</td>\n        <td style=\"padding: 10px; border-bottom: 1px solid #eee; color: #d32f2f; font-weight: bold;\">{{ $json.nodo_fallido }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px; font-weight: bold; border-bottom: 1px solid #eee;\">💬 Mensaje Error</td>\n        <td style=\"padding: 10px; border-bottom: 1px solid #eee;\">{{ $json.error_mensaje }}</td>\n      </tr>\n      <tr style=\"background: #ffebee;\">\n        <td style=\"padding: 10px; font-weight: bold; border-bottom: 1px solid #eee;\">📝 Descripción</td>\n        <td style=\"padding: 10px; border-bottom: 1px solid #eee;\">{{ $json.error_descripcion || 'N/A' }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px; font-weight: bold;\">🕐 Fecha/Hora</td>\n        <td style=\"padding: 10px;\">{{ $json.timestamp }}</td>\n      </tr>\n    </table>\n    <div style=\"margin-top: 16px; padding: 12px; background: #f5f5f5; border-radius: 4px; font-size: 12px; font-family: monospace; word-break: break-all;\">\n      <strong>Stack Trace (parcial):</strong><br>{{ $json.error_stack || 'No disponible' }}\n    </div>\n  </div>\n  <div style=\"background: #424242; padding: 12px; text-align: center; border-radius: 0 0 8px 8px;\">\n    <span style=\"color: #bbb; font-size: 12px;\">Alerta automática — APA Automatizaciones</span>\n  </div>\n</div>",
        "appendAttribution": false
      }
    },
    {
      "id": "error-sheets-form",
      "name": "📊 Log Error Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [700, 900],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Log Errores",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        }
      }
    }
  ],
  "connections": {
    "🌐 Webhook Formulario": {
      "main": [
        [
          {
            "node": "📊 Guardar en Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Guardar en Sheets": {
      "main": [
        [
          {
            "node": "🔀 Derivador B2B/B2C",
            "type": "main",
            "index": 0
          },
          {
            "node": "📩 Email al Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Derivador B2B/B2C": {
      "main": [
        [
          {
            "node": "📧 Mail Interno B2B",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📧 Mail Interno B2C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚨 Catch Errores": {
      "main": [
        [
          {
            "node": "⚙️ Formatear Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Formatear Error": {
      "main": [
        [
          {
            "node": "🚨 Alerta Error Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "📊 Log Error Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
